%p
  %small Author:
  = comment.author |
  %small
    = link_to '(delete)', [comment.article, comment],
                      method: :delete,
                      data: { confirm: 'Are you sure?' }
  %br
  %small Content:
  = comment.body
  %hr

