%div.articles
  - if @articles.empty?
    No posts yet.
  - else
    - @articles.each do |article|
      %h3= link_to article.title, article_path(article)
      %small
        |
        = link_to 'Edit', edit_article_path(article) | 
        #{link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Are you sure?' }}
      %br
      %p= article.body
      %hr